<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/home.css">
	<title>Admin Page</title>

	<style>

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: rgba(190,0,0, 0.5);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

</head>

<body>
	<nav class="admin-nav shadow navbar navbar-expand-lg navbar-dark">
		<a class="navbar-brand" href="/default"> <img src="/images/su.png" width="140" height="60" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/default"> HOME <span class="sr-only">(current)</span></a>
				</li>
				 
  				<li class="nav-item"><a class="nav-link" onclick="togg()" target="_blank"
						rel="noopener noreferrer" type="button">CONFERENCES </a></li>
				 
				
				<li class="nav-item"><a class="nav-link" href="https://www.sorbonne-universite.fr" target="_blank"
						rel="noopener noreferrer"> ABOUT </a></li>
				<li class="nav-item"><a class="nav-link" href="/contact"> CONTACT </a></li>
			</ul>
			<div class="navbar-collapse collapse w-100 order-3 dual-collapse3">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link disabled active" href="#" th:utext=${userName}></a>
					</li>
					<li class="nav-item">
						<form class="form-inline my-2 my-lg-0" th:action="@{/logout}">
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">SIGN OUT</button>
						</form>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<div class="container" >
		<div class="sidenav">
  <a href="#about">About</a>
  <hr class="dropdown-divider">
  <a href="#services">Services</a>
  <hr class="dropdown-divider">
  <a href="#clients">Clients</a>
  <hr class="dropdown-divider">
  <a href="#contact">Contact</a>
   <hr class="dropdown-divider">
  <a href="/admin/create">Create a new conference</a>
    <hr class="dropdown-divider">
  <a href="/admin/create">Create a new admin account</a>
  <hr class="dropdown-divider">
  <a href="/admin/pending">Pending conferences</a>
   
 
  
  
</div>


<div class="main">
	<div class="my-div" id="my-div">
		<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
			<li class="nav-item" role="presentation">
				<br>
				<h3>Pending conference</h3>
			</li>
		</ul>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Creation</th>
					<th scope="col">Conference</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Proof</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="registration : ${listRegistrations}">
					<td th:utext="${registration.creationDate}"> </td>
					<td th:utext="${registration.conferenceName}"></td>
					<td th:utext="${registration.firstName}"></td>
					<td th:utext="${registration.lastName}"></td>
					<td><a th:href="@{file/__${registration.id}__}"
							th:utext="${registration.fileTitle}" target="_blank" rel="noopener noreferrer"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	

	
</div>
	</div>
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<!-- --------------------------------------------------------------------------------------------------------------- -->
	<script type="text/javascript">
		function togg() {
			let container = document.getElementById("my-div");
			if (getComputedStyle(container).display != "none") {
				container.style.display = "none";
			} else {
				container.style.display = "block";
			}
		}
	</script>
	
	<script type="text/javascript">
		function pending() {
			let container = document.getElementById("my-pending");
			if (getComputedStyle(container).display != "none") {
				container.style.display = "none";
			} else {
				container.style.display = "block";
			}
		}
	</script>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>